h1 {
  color: orange;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
}

.heading {
  background-color: lightblue;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: darkblue;
  text-align: center;
}
